<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book New Room</title>
</head>
<body style="background-color: powderblue;">
    <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 230%;">Book New Room</h1><br><br>
    <form method="post">
        {% csrf_token %}
        <br><label style="font-family: Arial, Helvetica, sans-serif; font-size: 150%;" for="place">Location:</label>
        <select name="place" required>
            {% for place in place_choices %}
                <option value="{{ place.id }}">{{ place.place }}</option>
            {% endfor %}
        </select><br>
        <br><label style="font-family: Arial, Helvetica, sans-serif; font-size: 150%;" for="hotel">Hotel:</label>
        <select name="hotel" required>
            {% for hotel in hotel_choices %}
                <option value="{{ hotel.id }}">{{ hotel.hotel }}</option>
            {% endfor %}
        </select><br><br>
        <label style="font-family: Arial, Helvetica, sans-serif; font-size: 150%;" for="room_type">Room type:</label>
        <select name="room_type" required>
            {% for room in room_choices %}
                <option value="{{ room.id }}">{{ room.room_type }}</option>
            {% endfor %}
        </select><br><br>
        <label style="font-family: Arial, Helvetica, sans-serif; font-size: 150%;" for="check_in">Check in Date:</label>
        <input type="datetime-local" name="check_in" required><br><br>
        <label style="font-family: Arial, Helvetica, sans-serif; font-size: 150%;" for="check_out">Check out Date:</label>
        <input type="datetime-local" name="check_out" required><br><br>
        <hr>
        <label style="font-family: Arial, Helvetica, sans-serif; font-size: 150%;" for="name">First name:</label>
        <input type="text" name="name" required><br><br>
        <label style="font-family: Arial, Helvetica, sans-serif; font-size: 150%;" for="surname">Last name:</label>
        <input type="text" name="surname" required><br><br>
        
        <label style="font-family: Arial, Helvetica, sans-serif; font-size: 150%;" for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" required><br><br>
        
        <br><input type="submit" value="Book Room" style="font-size: 120%; font-family: Arial, Helvetica, sans-serif; background-color: white;">
    </form>
    <br><a style="color: rgb(247, 0, 0); font-size: 150%;" href="{% url 'book:registration_list' %}">Back to Booking List</a>
</body>
</html>
